.wrapper {
  padding-top: 20px;
  width: 300px;
  margin: 0 auto;
}

.input {
  margin-top: 5px;
  padding-left: 10px;
  font-size: 1.6rem;
  width: 300px;
  height: 30px;
  transition: outline 0.1s ease;
}

.input:focus {
  outline: 2px solid rgb(31, 164, 31);
  border: none;
  border-radius: 5px;
}
